#navbar {
  background-color: white;
  height: 130px;
  position: fixed;
  z-index: 1;
  box-shadow: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

  .menu {
    display: none;
    .menu_icon {
      width: 30px;
    }
  }

  .navbar_items {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cart_item {
    margin-left: auto;
  }

  .each_nav_item {
    font-family: Montserrat, sans-serif !important;
    font-weight: 500;
    font-style: normal;
    padding: 20px;
    letter-spacing: 2px;
    color: black;
  }

  .logo {
    margin-top: -25px;
    width: 150px;
  }
}

#navbar_transparent {
  background-color: transparent;
  height: 130px;
  position: fixed;
  z-index: 1;
  box-shadow: 0;
  border-bottom: 0.5px outset whitesmoke;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  gap: 10px;

  .menu {
    display: none;
    .menu_icon {
      width: 30px;
    }
  }

  .navbar_items {
    max-width: fit-content;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cart_item {
    margin-left: auto;
  }

  .each_nav_item {
    font-family: Montserrat, sans-serif !important;
    font-weight: 500;
    font-style: normal;
    color: white;
    padding: 20px;
    letter-spacing: 2px;
  }

  .logo {
    margin-top: -25px;
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    padding: 30px;
    .menu_icon {
      width: 30px;
    }
  }

  .each_nav_item {
    display: none;
  }

  .each_nav_item_menu {
    height: 40px;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
  }
  .navbar.responsive {
    position: relative;
  }

  .navbar_items_menu {
    display: grid;
  }

  .navbar_items_menu:first-child {
    margin-top: 60px;
  }

  .navbar_transparent.responsive {
    position: relative;
  }

  .logo {
    width: 100px;
  }

  .logo_menu {
    display: none;
  }
}
